@{
  Layout = "_Layout";
}

<h1 style="text-align: center;">Welcome to the Eau Clair's Salon!</h1>

<div style="text-align: center;">
    <p>@Html.ActionLink("See all clients", "Index", "Clients")</p>
    <p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p> 
 </div>   